<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.checksheets.obor_summary</string>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/run_with_lock.sh</string>
    <string>obor_summary</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>16</integer>
    <key>Minute</key>
    <integer>10</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/logs/obor_summary_launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/logs/obor_summary_launchd.err</string>
</dict>
</plist>
