<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.checksheets.marketplace_yandex</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/run_marketplace_worker.sh</string>
		<string>yandex</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/logs/marketplace_yandex_launchd.err</string>
	<key>StandardOutPath</key>
	<string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets/logs/marketplace_yandex_launchd.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>23</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/vladimirgrebennikov/Code/Checksheets_Project/Checksheets</string>
</dict>
</plist>
